@charset "utf-8";
/* CSS Document */
/* header */
#body{
	width:1700px;
	height:700px;
	background-image:url(../img/800px_COLOURBOX25544968.jpg);
	background-size:cover;
	margin-top:-70px;
}
.kotak1{
	width:400px;
	height:300px;
	background-color:transparent;
	margin-top:400px;
	margin-left:0px; 
}