body,
html{min-height: 100%
}
body { 
	background: url('background.jpg');
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;

}
.judul {
	font-family:arial
}

.gambar{
	text-align: center;
}

h1{text-align: center;
	color: black;
	font-family: arial

}

h2{ text-align: center;
	color: black;
	font-family: arial
}

h3{	text-align: center;
	color: black;
	font-family: arial
}

h4{	text-align: center;
	color: black;
	font-family: arial
}
p{	text-align: center;
	color: black;
	text-align: justify;
	font-family: serif;}
