<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/style.css">


</body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">About us</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sejarah</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cara memperoleh
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Biomassa</a>
          <a class="dropdown-item" href="#">Sintesis gas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">dan yang lainnya</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Kegunaan</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron">


 <center><img class="float" src="css/gambar1.jpg"></center>
  <h1 class="display-4">Methanol</h1>
  <h2> Cara pembuatan methanol</h2>
  <hr class="my-4">
  <p><h2>Dari Bahan Baku Biomassa</h2>
    <center><img class="float" src="css/Biomassa.jpg"></center>

  <h3> Proses Biologi (Fermentasi) </h3>
  <p>
  Sebelum membentuk methanol, pada proses anaerob bahan baku biomas tersebut akan didegradasikan menjadi metana dan karbon dioksida melalui tahap-tahap yang merupakan serangkaian kegiatan metabolic dari kelompok-kelompok mikroorganisme yang berbeda. Dalam proses ini dibagi menjadi 4 tahap, yaitu :
  </p>

  <h4>1.Hidrolisis dan asidifikasi</h4>
  
  <p>  
  Pada tahap ini, bakteri fermentative akan menghidrolisis substrat polimer seperti polisakarida, protein, dan lemak menjadi monomer-monomer gula, asam amino, dan peptide.
  </p>

  <h4>2.Asidogenesis</h4>
  <p>Sedangkan pada tahap ini, hasil hidrolisis dari tahap sebelumnya akan difermentasikan menjadi asam lemak volatile (asam asetat, asam butirat, dan propionat), asam lemak rantai panjang,
  CO<sub>2</sub>, format, NH<sub>4</sub><sup>+</sup>, HS<sup>-</sup>, H<sub>2</sub>, alcohol.</p>

  <h4>3.Asetogenesis</h4>
  <p>Selanjutnya, bakteri asetogenik pereduksi proton akan menguraikan propionate, asam lemak rantai panjang, alcohol, beberapa asam amino dan senyawa aromatic menjadi H<sub>2</sub>, format, dan asetat.</p>

  <h4>4.Metanogenesis</h4>
  <p>Pada tahap akhir ini melibatkan 2 kelompok metanogen yang berbeda yaitu, metanogen hidrogenotropik yang menggunakan H<sub>2</sub> dan format dari reaksi sebelumnya untuk mereduksi CO<sub>2</sub> menjadi CH<sub>4</sub> dan metanogen asetotropik yang menguraikan asetat menjadi CO<sub>2</sub> dan CH<sub>4</sub>.</p>

  <h3>Proses Sintesa Metanol</h3>

  <p>Pada proses ini menggunakan katalis Cu-ZnO. Katalis ini memiliki keaktifan sangat tinggi sehingga kecepatan reaksi tinggi pada temperature relative rendah 225<sup>0</sup>C. Katalis yang digunakan pada kilang methanol ini harus memiliki selektivitas sintesa methanol yang tinggi untuk memperkecil jumlah produk sampingan yang dihasilkan. Setelah proses ini terlewati , gas keluaran dari hasil reaksi sintesis methanol didinginkan dari 225<sup>0</sup>C menjadi 400 <sup>0</sup>C. Pendinginan ini bertujuan untuk memisahkan methanol mentah dari gas terlarut didalamnya </p>

  <h3>Proses Pemurnian Metanol</h3>

  <p>Kenaikan tekanan operasi akan menyebabkan bertambahnya gas terlarut dalam cairan. Untuk itu, oleh karena itu dilakukan penurunan tekanan agar gas-gas terlarut lepas. Sedangkan volatile impurities seperti dimetil eter, metil format, dan gas-gas inert terlarut dipisahkan dari methanol mentah. Setelah itu,methanol mentah dilakukan pemurnian pada kondisi 800C dan 1,5 bar. Pada kolom pemurnian ini, methanol akan menjadi produk atas dan air akan menjadi produk bawah. Air proses yang dihasilkan sebagai  produk bawah ini akan dipompa menuju pemanas air proses. Uap yang menuju puncak kolom distilasi akan didinginkan oleh suatu kondensor dimana uap methanol akan dikondensasikan secara total menjadi cairan bersuhu 69<sup>0</sup>C. Metanol terkondensasi ini selanjutnya didinginkan lagi hingga mencapai suhu 40<sup>0</sup>C dan ditampung</p>


<center><img class="float" src="css/gas alam.jpg"></center>

  <h2>Pembuatan Methanol dari sintesis gas alam</h2>
  <p> Reaksi pembuatan Methanol dengan sintesis gas alam adalah sebagai berikut:</p>

  <p>CH<sub>4</sub> + H<sub>2</sub> <----> 3 H<sub>2</sub> + CO</p>

  <p> CO+2 H<sub>2</sub><---->  CH<sub>3</sub>OH</p>

  <p>  CO<sub>2</sub> + 3 H<sub>2</sub> <---->CH<sub>3</sub>OH+ H<sub>2</sub>O</p>

  <p>Racun H<sub>2</sub>S pada Natural Gas ditangkap dengan katalis ZnO, dan racun RSH ditangkap dengan katalis CoMo.</p>

  <p>Adapun secara ringkas, tahapan proses sintesis Methanol adalah sebagai berikut:</p>

  <h4>Prereform: gas alam direaksikan dengan steam superheated, reaksi</h4>
  <p>CnH<sub>2n+2</sub>+ n H<sub>2</sub>O <----> CO + (2n+1)H<sub>2</sub> -Q</p>

  <p>CO+ 3H<sub>2</sub> <----> CH<sub>4</sub>+ H<sub>2</sub>O +Q</p>

  <p>CO + H<sub>2</sub>O <----> CO<sub>2</sub> + H<sub>2</sub>+ Q</p>

  <p><strong>Reforming 
  :</strong>
   merubah CH<sub>4</sub> menjadi CO dan H<sub>2</sub> dengan bantuan steam, reaksi
  CH<sub>4</sub> + H<sub>2</sub>O<---->3H<sub>2</sub> + CO-Q
  </p>
  
  <p><strong>Autotermal</strong>:
  merubah sisa-sisa CH<sub>4</sub> dengan steam dan O<sub>2</sub>, di mana reaksi partial dan sempurna berlangsung sekaligus, reaksi
  </p>
  
  <p>2 C<sub>n</sub>H<sub>2n+2</sub> + (3+1n)O2 <----> 2<sub>n</sub>CO2 + (2<sub>n</sub>+2)H<sub>2</sub>O+Q</p>

  <p>2 C<sub>n</sub>H<sub>2n+2</sub> + 3<sub>n</sub>O<sub>2</sub> <----> 2C<sub>n</sub>CO+ 2H<sub>2</sub>+ 4<sub>n</sub>H<sub>2</sub>O+Q</p>

  <p>CH<sub>4</sub>  + 2O<sub>2</sub><----> CO<sub>2</sub> + 2H<sub>2</sub>+ Q</p>
  
  <p>CH<sub>4</sub> + O<sub>2</sub><----> CO + H<sub>2</sub>+ H<sub>2</sub>O+Q</p>

  <p><strong>Sintesis</strong>:
  gas-gas CO, CO<sub>2</sub>, dan H<sub>2</sub>lalu disintesis dalam reaktor dengan katalis Cu
  </p>

  <p>
  <strong>Destilasi</strong>:
  hasil dari sintesis gas di unit reactor kemurniannya masih  berkisar 70 %, maka dilakukan tahap akhir yaitu destilasi untuk mendapatkan Methanol dengan kemurnian tinggi
  </p>
</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cara pembuatan methanol</h5>
    <h6 class="card-subtitle mb-2 text-muted">Dari Bahan Baku Biomassa<</h6>
    <p class="card-text">Methanol dapat di hasilkan melalui bahan baku biomassa dengan bantuan mikroorganisme.</p>
    <a href="#" class="card-link">Cara memperoleh methanol</a>
    <a href="#" class="card-link">Home</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cara pembuatan methanol</h5>
    <h6 class="card-subtitle mb-2 text-muted">Dari sintesis gas alam</h6>
    <p class="card-text">Methanol dapat di hasilkan melalui sintesis gas alam yang kemudian akan di murnikan dengan proses destilasi.</p>
    <a href="#" class="card-link">Cara memperoleh methanol</a>
    <a href="#" class="card-link">Home</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Kegunaan</h5>
    <h6 class="card-subtitle mb-2 text-muted">Kegunaan methanol di laboratorium</h6>
    <p class="card-text">di laboratorim,methanol memiliki fungsi untuk melarutkan(solven) bagi senyawa organik yang lainnya.</p>
    <a href="#" class="card-link">Kegunaan</a>
    <a href="#" class="card-link">Home</a>
  </div>
</div>
    </div>
  </div>
</div>





  <title>Pembuatan Methanol</title>
</head>
<body>
<footer: by syukron

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</body>

<footer></footer>
</html>